// Background Colors
$color-background: #f9fafc;

// Text Colors
$color-text-primary: #484954;

// Color
$color-black: #000;
$color-white: #fff;

// Botton Colors
$color-btn-blue: #0d4477;
$color-btn-skyblue: #499dda;

// Border Colors
$color-border-1: #ffbe0b;
$color-border-2: #ff9b71;
$color-border-3: #fc5607;
$color-border-4: #97512c;
$color-border-5: #dbbadd;
$color-border-6: #ff006e;
$color-border-7: #aaf0d1;
$color-border-8: #01b503;
$color-border-9: #499dda;
$color-border-10: #0072e8;
$color-border-11: #8338eb;
