.App {
  background-color: $color-background;
  min-height: 100vh;
}

.section-header {
  padding: 5rem 2rem 3rem;
  width: 390px;
  margin: 0 auto;
}

.office-section {
  padding: 3rem 2rem;
  width: 390px;
  margin: 0 auto;
}
