.card {
  background-color: #fff;
  position: relative;
  width: 360px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  border: 1px solid #e8f3fc;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.05);
  padding-bottom: 5px;
  transition: all 1s;

  &-text {
    padding-bottom: 1.2rem;
    border-bottom: 1px solid $color-text-primary;

    span {
      display: inline-flex;
      width: 80%;
    }

    &-expand {
      border: none;
    }

    &-img {
      position: relative;
      top: 8px;
      margin-right: 10px;
    }
  }

  &-expand-container {
    position: relative;
    display: none;
  }

  &-border {
    &-1 {
      border-left: 1rem solid $color-border-1;
    }
    &-2 {
      border-left: 1rem solid $color-border-2;
    }
    &-3 {
      border-left: 1rem solid $color-border-3;
    }
    &-4 {
      border-left: 1rem solid $color-border-4;
    }
    &-5 {
      border-left: 1rem solid $color-border-5;
    }
    &-6 {
      border-left: 1rem solid $color-border-6;
    }
    &-7 {
      border-left: 1rem solid $color-border-7;
    }
    &-8 {
      border-left: 1rem solid $color-border-8;
    }
    &-9 {
      border-left: 1rem solid $color-border-9;
    }
    &-10 {
      border-left: 1rem solid $color-border-10;
    }
    &-11 {
      border-left: 1rem solid $color-border-11;
    }
  }
}
